@charset "UTF-8"
/* =================== Stylesheet Info =================== */
/* Stylesheet for Project Name */
/* Version 1.0 modified on ${DATE} ${TIME} */
/* Copyright©2014 Matt Ma Design */
/* Senior Web Developer -- Matt Ma. ( matt@mattmadesign.com ) */
/* http://www.mattmadesign.com */

//@import 'framework/_init'

$header-height: 50px
$nav-sidebar-width: 210px

@import "sections/header"
@import "sections/nav"
@import "sections/main"
@import "sections/users"

html, body
  width: 100%
  height: 100%

body
  background: #f4f4f4
  min-height: 100%

  & > div
    min-height: 100%
    position: relative

  &.open
    overflow: hidden

header.open, header.open ~ main
  transform: translate($nav-sidebar-width, 0)

header, nav, main
  transition: transform 0.3s ease-out

*
  box-sizing: border-box

// Larger Screens - desktops and tablets
@media all and (min-width: 990px)
  body
    overflow-y: scroll

  header.open, header.open ~ main
    transform: translate(0, 0)

.math
  ul
    width: 100%
    height: 100%
    margin: 35px 0 20px
    overflow: hidden
  li
    width: 390px
    height: 40px
    float: left
    margin: 0 0 20px

    & > *
      float: left

    span
      display: block
      width: auto
      height: 30px
      margin-right: 10px
      font-size: 2em
      color: rgb(51, 51, 51)
      font-weight: 700
      line-height: 30px

    input
      width: 50px
      height: 30px
      margin-top: 1px
      padding: 3px 5px
      font-size: 1em
      font-weight: 700
      line-height: 24px
      color: #0000ff
      text-align: center

    .operator
      color: rgb(151, 151, 151)

  .reason
    color: darkred
    font-size: 1.4em
    width: 200px
    height: 30px
    line-height: 30px

.header
  height: 50px
  & > *, p
    width: auto
    height: 50px
    float: left
    margin-right: 15px

  h2
    padding-top: 17px

  ul
    width: auto
    height: 50px
    margin-left: 20px

    li
      height: 40px
      margin-right: 20px
      margin-top: 10px
      float: left

    button
      background: #add8e6
      padding: 10px 15px
      color: white
      font-size: 1.6em
      font-weight: 700
      text-transform: uppercase

      &:hover
        background: lightgreen
      &:disabled
        background: lightgray

  .statistic
    margin-left: 30px
    p
      font-size: 1.6em
      margin-right: 35px
      margin-bottom: 0px
      line-height: 50px
    span
      font-size: 2em
      font-weight: 700
      color: rgb(204,204,204)
      margin-left: 5px
      &.good
        color: #33cc33
      &.bad
        color: darkred
//  ======================
//  = OPERA STYLES ONLY  =
//  ======================

//.modern //need to add a new class to HTML to detect modern browser
//  *:-o-prefocus, p  //follow with any tag, class, id
